//Ta te ti

.btn{
    width: 200px;
    height: 200px;
    background-color: rgb(19, 18, 18);
}

#tablero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    margin: auto;
}